/**
 * Needs a bit of JS to work:
 * 
 * yarn add object-fit-images
 *
 * Then in main JS script
 * import objectFitImages from 'object-fit-images';
 * objectFitImages();
 */

@mixin obj-fit-cover() {
    object-fit: cover;
    font-family: 'object-fit: cover';
}

@mixin obj-fit-contain() {
    object-fit: contain;
    font-family: 'object-fit: contain';
}
