// - @include triangle( $dir: direction, $w: pixels-width, $h: pixels-height, $color: color)
// **********************************************************
// creates css triangles. Use it on every element you want
// (I'd suggest on ::before & ::after).
// Available directions:
//    - topLeft
//    - top
//    - topRight
//    - right
//    - bottomRight
//    - bottom
//    - bottomLeft
//    - left
// **********************************************************

@mixin triangle($dir:right, $w:20, $h:20, $color:#000000){
    display: block;
    width: 0;
    height: 0;
    line-height: 0px;
    border-style: solid;

    @if unquote($dir) == topLeft{
        border-width: (rmUnit($h) * 1px) (rmUnit($w) * 1px) 0 0;
        border-color: $color transparent transparent transparent;
    }
    @else if unquote($dir) == top{
        border-width: 0 (rmUnit($w)/2 * 1px) (rmUnit($h) * 1px) (rmUnit($w)/2 * 1px);
        border-color: transparent transparent $color transparent;
    }
    @else if unquote($dir) == topRight{
        border-width: 0 (rmUnit($w) * 1px) (rmUnit($h) * 1px) 0;
        border-color: transparent $color transparent transparent;
    }
    @else if unquote($dir) == right{
        border-width: (rmUnit($h)/2 * 1px) 0 (rmUnit($h)/2 * 1px) (rmUnit($w) * 1px);
        border-color: transparent transparent transparent $color;
    }
    @else if unquote($dir) == bottomRight{
        border-width: 0 0 (rmUnit($h) * 1px) (rmUnit($w) * 1px);
        border-color: transparent transparent $color transparent;
    }
    @else if unquote($dir) == bottom{
        border-width: (rmUnit($h) * 1px) (rmUnit($w)/2 * 1px) 0 (rmUnit($w)/2 * 1px);
        border-color: $color transparent transparent transparent;
    }
    @else if unquote($dir) == bottomLeft{
        border-width: (rmUnit($h) * 1px) 0 0 (rmUnit($w) * 1px);
        border-color: transparent transparent transparent $color;
    }
    @else if unquote($dir) == left{
        border-width: (rmUnit($h)/2 * 1px) (rmUnit($w) * 1px) (rmUnit($h)/2 * 1px) 0;
        border-color: transparent $color transparent transparent;
    }
}