@use "sass:math";
@import "../config/global";

// - em( $goal: number|font-size-name, [$parent: number|font-size-name] )
// **********************************************************
// $parent default : m
// Computes em sizes from pixel-based numbers
// or defined font-sizes
// **********************************************************
@function em($goal: m, $parent: m) {
  $goal: if(type-of($goal) == number, $goal, fvalue($goal) * 1em);
  $parent: if(type-of($parent) == number, $parent, fvalue($parent) * 1em);
  @return (math.div(rmUnit($goal), rmUnit($parent)) * 1em);
}

// - rem( $goal: number|font-size-name, [$root: number|font-size-name] )
// **********************************************************
// $root default : m
// Computes rem sizes from pixel-based numbers
// or defined font-sizes
// **********************************************************
@function rem($goal: m, $root: m) {
  $goal: if(type-of($goal) == number, $goal, fvalue($goal) * 1em);
  $root: if(type-of($root) == number, $root, fvalue($root) * 1em);
  @return (math.div(rmUnit($goal), rmUnit($root)) * 1rem);
}

// - px( $goal: number|font-size-name )
// **********************************************************
// returns the defined size or font-size in px
// **********************************************************
@function px($goal: m) {
  $goal: if(type-of($goal) == number, $goal, fvalue($goal) * 1px);
  @return rmUnit($goal) * 1px;
}

// - ps_ls( $ps_num: number )
// **********************************************************
// $ps_num is an unitless number you can find in the type
// window of Photoshop.
// Computes em letter-spacing
// **********************************************************
@function ps_ls($ps_num) {
  @return ($ps_num * 0.001 * 1em);
}

// - mid( $min, $max)
// **********************************************************
// The mid function is used to calculate the middle value of a clamp() function.
// Only use it for the text for now.
// **********************************************************
@function mid($min, $max) {
  @return clamp(
    rem($min),
    calc(($min / 320 * 100 - $max / $grid_width * 100) * 1vw),
    rem($max)
  );
}
