// - @include hidden()
// **********************************************************
// Hides an element but keeps it usable by Screen-readers
// **********************************************************

@mixin hidden(){
    position: absolute;
    top: -99999px;
    left: -99999px;
}


// - @include cover()
// **********************************************************
// sets an element in an absolute position, covering its
// relative parent.
// **********************************************************

@mixin cover(){
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// - @include clearfix([both|left|right])
// **********************************************************
// Default : both
// Reset float on parent-element of floated elements
// **********************************************************

@mixin clearfix( $w:both ){
    &:after{
        content: "";
        display: block;
        clear: $w;
    }
}


// - @include resetFW()
// **********************************************************
// cleares width and float on element.
// Usefull on responsive designs
// **********************************************************

@mixin resetFW(){
    width: auto;
    float: none;
}


// - @include rmUnit( $var: number+unit )
// **********************************************************
// removes units from variable values
// **********************************************************

@function rmUnit($var) {
    @return $var / ($var * 0 + 1);
}


// - @include clickableTransparentBg()
// **********************************************************
// Adds a transparent background to a clickable block-
// element. Why ? Because IE.
// **********************************************************

@mixin clickableTransparentBg() {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}


// - @include rootCss()
// **********************************************************
// Adds base CSS rules (to be used on root HTML element)
// **********************************************************

@mixin rootCss() {
    -webkit-text-size-adjust: 100%;
    & * {
        @include box-sizing(border-box);
    }
}