// Public fonts directory
$ws_fonts-path: "../../fonts/";

// Available fonts declaration. Map format : 
// $ws_fonts-stack: (
//      group: (
//          variant: (
//              family: "font-family-name",
//              stack: (Helvetica, Arial, sans-serif),
//              weight: normal,
//              style: normal,
//              file: "mt-font-file", // optional, will take group-variant by default
//              formats: (woff2, woff) // optional, will take (eot woff2 woff ttf svg) by default
//          ),
//          ...
//      ),
//      ...
// );
$ws_fonts-stack: (
    icons: (
        font: (
            family: 'iconfont',
            weight: normal,
            file: 'iconfont',
            style: normal
        )
    )
);
