// FONTS

$ws_sBaseFont:          16;         //    Base font-size (without units but based on pixels)


// GRIDZ

$ws_GridzUnit:          1em;        //    Unit used in the gridz-system. Possible values : 1px, 1em, 1rem, 1banana (all available css units except '%')
$ws_iGridzColumns:      12;         //    Number of columns you want in the grid
$ws_sGridzTotalWidth:   1024;       //    Base grid-size (without units but based on pixels)
$ws_sGridzGutterWidth:  40;         //    Base gutter-size (without units but based on pixels)


// SPRITES

$ws_sprite-1x-path:     "img/sprite/@1x/*.png";             //    Path to png files for normal display, set to false if not used.
$ws_sprite-2x-path:     "img/sprite/@2x/*.png";             //    Path to png files for retina display, set to false if not used.
$ws_sprite-layout:      vertical;                           //    Sass sprite rendering. Can be [vertical|horizontal|diagonal|smart]. "smart" is actually the best choice, but it doesn't support spacing
$ws_sprite-spacing:     2px;                                //    Only works for $ws_sprite-layout = [vertical|horizontal] !


// ICONS

$ws_icon-font-family:   'icons';                            //    Font-family name of the icon-font
