$ws_typography-sizes: (
    xl11: 142.7,
    xl10: 118.9,
    xl9: 99.1,
    xl8: 82.6,
    xl7: 68.8,
    xl6: 57.3,
    xl5: 47.8,
    xl4: 39.8,
    xl3: 33.2,
    xl2: 27.6,
    xl: 23,
    l: 19.2,
    m: 16,
    s: 13.3,
    xs: 11.1,
    xs2: 9.3,
    xs3: 7.7
);